.heading {
	line-height: var(--line-height-tight);
}

.color-default {
	color: var(--colors-font-muted);
}

.color-primary {
	color: var(--colors-primary);
}

.size-md {
	font-size: var(--font-size-md);
}

.size-sm {
	font-size: var(--font-size-sm);
}

.size.xs {
	font-size: var(--font-size-xs);
}
