.heading {
	line-height: 1.25;
}

.color-default {
	color: var(--colors-brand-regent-gray);
}

.color-primary {
	color: var(--colors-brand-medium-purple);
}

.size-md {
	font-size: var(--font-size-md);
}

.size-sm {
	font-size: var(--font-size-sm);
}

.size.xs {
	font-size: var(--font-size-xs);
}
