.button {
	background: var(--colors-brand-romance);
	border-radius: var(--input-border-radius);
	border: 1px solid var(--colors-base-transparent);
	box-shadow: var(--box-shadow-sm);
	color: var(--colors-brand-regent-gray);
	padding: 10px 85px;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
	font-size: var(--input-font-size);
}

.type-primary {
	background: var(--colors-primary);
	color: var(--colors-brand-white-lilac);
}

.type-secondary {
	border: 1px solid var(--colors-primary);
	color: var(--colors-primary);
}

.type-tertiary {
	color: var(--colors-primary);
	background: var(--colors-base-transparent);
	box-shadow: var(--box-shadow-none);
	border-bottom: 1px solid var(--colors-primary);
	border-radius: var(--border-radius-none);
	padding: 0;
}

.type-primary:hover {
	background: var(--colors-purple-900);
}

.type-secondary:hover {
	background: var(--colors-gray-200);
}
