.button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--colors-base-transparent);
	padding: 10px 20px;
	border-radius: var(--input-border-radius);
	box-shadow: var(--box-shadow-sm);
	cursor: pointer;
	transition: all 0.1s ease-in-out;
	font-size: var(--input-font-size);
	max-width: 300px;
	width: 100%;
	/* min-width: max-content; */
}

.is-block {
	width: 100%;
}

.type-primary {
	background: var(--colors-primary);
	color: var(--colors-brand-white-lilac);
}

.type-secondary {
	border: 1px solid var(--colors-primary);
	color: var(--colors-primary);
}

.type-tertiary {
	color: var(--colors-primary);
	background: var(--colors-base-transparent);
	box-shadow: var(--box-shadow-none);
	text-decoration: underline;
	border-radius: var(--border-radius-none);
	padding: 0;
}

.type-primary:hover {
	background: var(--colors-purple-900);
}

.type-secondary:hover {
	background: var(--colors-gray-200);
}
